* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
    color: #E4E2DE;
}

button {
    background-color: #0C3D7E;
    color: #E4E2DE;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    font-weight: bold;
    width: 90px;
    border: none;
}

.header {
    display: flex;
    height: 50px;
    background-color: #19212C;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #E4E2DE;
    align-self: center;
    margin-left: 300px;
    margin-right: auto;
}

.links {
    margin-right: 80px;
    align-self: center;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    display: flex;
    background-color: #19212C;
    gap: 80px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #E4E2DE;
    margin: 80px 0px 0px 80px;
    align-self: flex-start;
}

.content-text {
    font-size: 18px;
    color: #E4E2DE;
    width: 650px;
    margin: 2px 0px 2px 80px;
    flex-wrap: wrap;
}

.content-button {
    margin: 2px 0px 80px 80px;
    align-self: flex-start
}

.image-container {
    margin: 15px;
}

.image-container img{
    max-width: 100%;
    width: 500px;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #5F225F;
}

.information-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #E4E2DE;
    align-self: flex-start;
    margin: 0 auto;
    margin-top: 50px;
}

.box-container {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-around;
}

.box-container img {
    width: 250px;
    max-width: 100%;
}

.box-content-container {
    display: flex;
    flex-direction: column;
}

.box-text-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    font-size: 18px;
    justify-content: space-around;
}

.box-text {
    width: 150px;
    color: #E4E2DE;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #0C3D7E;
}

.quote-text {
    margin: 0 auto;
    margin-top: 50px;
    font-size: 36px;
    color: #E4E2DE;
    width: 500px;
    flex-wrap: wrap;
    font-style: italic;
}

.quote-author {
    color: #E4E2DE;
    font-size: 24px;
    align-self: flex-end;
    margin-right: 350px;
    margin-bottom: 100px;
}

.action-container {
    display: flex;
    background-color: #1f2937;
    padding-top: 80px;
    padding-bottom: 80px;
}

.action-content {
    background-color: #5F225F;
    display: flex;
    margin: 0 auto;
    padding: 25px;
    gap: 15px;
    border-radius: 10px;
}

.action-content-text {
    display: flex;
    flex-direction: column;
    color: #E4E2DE;
}

.action-button {
    align-self: center;
    color: #E4E2DE;
}

.footer {
    display: flex;
    height: 50px;
    background-color: #1f2937;
}

.footer-text {
    color: #E4E2DE;
    align-self: center;
    margin: 0 auto;
}